#app {
  text-align: center;
  display: flex;
}

#sidebar-div {
  align-items: center;
  background-color: #282c34;
  color: white;
  justify-content: space-between;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  min-width: 30vw;
  min-height: 97vh;
  z-index: 1000;
  position: relative;
}

#header {
  font-size: calc(20px + 2vmin);
}

#deck-container {
  position: relative;
  height: 100vh;
  width: 70vw;
}

#text-box {
  text-align: left;
  font-family: monospace;
  white-space: break-spaces;
  -webkit-user-select: all;  /* Chrome all / Safari all */
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */
  margin-left: 30px;
}

#zoom-box {
  margin-bottom: 30px;
}

.searchlist {
  cursor: pointer;
}

.searchlist:hover {
  color: black;
}